.side-bar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-right: 1px solid rgb(196, 196, 196);
}

.instagram-logo{
  padding: 20px 6px 10px;
  margin-bottom: 14px;
  width: 110px;
  cursor: pointer;
}

.instagram-logo img{
  width: 100%;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sub-sidebar{
  display: flex;
  align-items: center;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  transition: transform 0.15s;
}
.sub-sidebar-profile{
  border-radius: 50%;
}

.sub-sidebar:hover{
  background-color: rgb(232, 232, 232);
  transform: scale(1.01);
}

.sub-sidebar img{
  width: 22px;
  height: 22px;
}

.sub-sidebar div{
  color: black;
  padding-left: 16px;
  font-size: 16px;
}

@media screen and (max-width: 1230px) {
  .side-bar{
    width: 72px;
  }
}